<!DOCTYPE html>
<html lang="en">
<head>

  <title>this is title</title>
</head>
<body>
  <h1>Jovian Careers</h1>
  <img src="https://1916dac2-6f56-4b89-a6e8-41332364bacb-00-34y40c0elyp2e.sisko.replit.dev/static/dream.jpeg"  height="320">
  <h2>Welcome to Jovian Careers</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit veritatis voluptatem nesciunt est non distinctio perferendis, nulla fugit, modi eligendi, voluptate impedit error quidem amet nobis? Expedita, totam quibusdam. Voluptates!</p>
  <h2>open positions</h2>
  <p>TODO -show the jobs here </p>
  <button>contact us</button>
</body>
</html>