<!DOCTYPE html>
<html lang="en">
<head>

  <title>Jovian</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <style>
    #banner {
      width: 100%;
      height: 350px;  
    }
  </style>
</head>
<body>
  <div class="container" >
  <h1 class="text-center mt-2 mb-4">{{company_name }} Careers</h1>
    <img class="img-fluid" id="banner" src="{{ url_for('static', filename='dream.jpeg') }}">
  <h2 class="text-center mt-2 mb-4">Welcome to Jovian Careers</h2>
  <p class="lead" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit veritatis voluptatem nesciunt est non distinctio perferendis, nulla fugit, modi eligendi, voluptate impedit error quidem amet nobis? Expedita, totam quibusdam. Voluptates!Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit veritatis voluptatem nesciunt est non distinctio perferendis, nulla fugit, modi eligendi, voluptate impedit error quidem amet nobis? Expedita, totam quibusdam. Voluptates!
  </p>
  <h2 class="text-center mt-2 mb-4">open positions</h2>
  
    <div>
      {% for job in jobs %}
        <!-- Include the jobitem.html template for each job -->
         {% include 'jobitem.html' %}
      
      {% endfor %}
    </div>
    <div class="text-center">
  <button class="btn btn-primary btn-lg">contact us</button>
    <p class="mt-4">
    &copy Copyright 2025, Jovian Careers
    </p>
    </div>
</body>
</html>